@import 'node_modules/bootstrap-icons/font/bootstrap-icons.css';

@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Roboto', sans-serif;
}

.background-img {
    background-image: url('assets/home-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100dvh;
    color: #0d6efd;
}

.custom-btn {
    background-color: #0d6efd;
}

.custom-btn:hover {
    background-color: #198754;
}

.sidebar-bg {
    background-color: #198754;
    color: white;
    height: 100dvh;
}

.sidebar-bg .nav-link {
    color: white;
}

.sidebar-bg .nav-link:hover {
    background-color: #0d6efd !important;
    color: white !important;
}

.sidebar-bg .nav-link.active {
    background-color: #0d6efd !important;
    color: white !important;
}

.sidebar-icon {
    font-size: 1.5rem;
}

.custom-card {
    width: 25rem;
}

.graph-card {
    width: 36rem;
    height: 25rem;
    position: relative;
}

.graph-title {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.table-overflow {
    overflow-y: auto;
    overflow-x: auto;
    max-height: 30rem;
}

.card-icon {
    font-size: 6rem;
}